body {
    background-color: $backgroundColor;
}


.welcome {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__heading {
        display: none;    
    }

    &__welcoming {
        color: $welcomeColor;
        align-self: center;
    }
}