$darkBackgroundColor: #0b0e1a;
$welcomeColor: #c5ceff;
$buttonGradient: radial-gradient(circle, rgba(38, 50, 84, 1) 0%, rgba(0, 0, 0, 1) 100%);
$bgGradient: radial-gradient(circle, rgba(30, 46, 67, 1) 0%, rgb(18, 11, 26) 100%);
$footerBorderColor: #000000a4;
$footerFontColor: #c5ceff6e;
$footerMailColor: #5900ff80;