$darkBackgroundColor: #0b0e1a;
$welcomeColor: #c5ceff;
$buttonGradient: radial-gradient(circle, rgba(38, 50, 84, 1) 0%, rgba(0, 0, 0, 1) 100%);
$bgGradient: radial-gradient(circle, rgb(21, 42, 70) 0%, rgb(36, 20, 46) 100%);
$footerBorderColor: #000000a4;
$footerFontColor: #c5ceff6e;
$footerMailColor: #5900ff39;